form label,
form input {
  display: block;
}

table.changelogtable {
  border-collapse: collapse;
}
th,
tr:nth-child(odd) {
  background-color: #ebebeb;
}
td.changelogtable {
  padding: 8px;
  min-width: 40px;
  text-align: center;
}

.grid {
  display: inline-flex;
  flex-direction: column;
  border-top: 1px solid white;
  border-left: 1px solid white;
}

.row {
  display: flex;
}

.cell {
  width: 10px;
  height: 10px;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
}
.cell.alive {
  background-color: #bada55;
}
.cell.dead {
  background-color: #ffa500;
}
