.grid {
  display: inline-flex;
  flex-direction: column;
  border-top: 1px solid black;
  border-left: 1px solid black;
}

.row {
  display: flex;
}

.cell {
  width: 10px;
  height: 10px;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}
.cell.alive {
  background-color: #bada55;
}
.cell.dead {
  background-color: #fa0000;
}
